.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 40px 40px 0 60px;
    z-index: 999;
    position: relative;
}

.burgerMenu {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    z-index: 10000;
    position: absolute;
    left: 10px;
    /* نقله إلى أقصى اليسار */
    top: 50%;
    /* لضبطه في منتصف الهيدر عمودياً */
    transform: translateY(-50%);
    /* لتوسيطه عمودياً بشكل صحيح */
}


.burgerBar {
    width: 30px;
    height: 3px;
    background-color: #ffffff;
    transition: all 0.3s ease;
}

.showMenu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 120px;
    left: 0px;
    background-color: #ffffffda;
    padding: 20px;
    border-radius: 10px;
}

.list {
    display: flex;
    gap: 85px;
    list-style: none;
}

.navLink {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 21px;
    line-height: 26.25px;
    transition: color 0.4s ease-in;
}

.navLink:hover {
    color: #CC9D2F;
    transition: color 0.4s ease-out;
}

.navButton {
    display: flex;
    align-items: center;
}

.buttonText {
    font-family: 'Cotoris', sans-serif;
    color: #5B0017;
    background-color: #CC9D2F;
    width: 171px;
    height: 63px;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    border: 1px solid transparent;
    transition: background-color 0.4s ease-in, border-color 0.4s ease-in;
}

.buttonText:hover {
    color: #CC9D2F;
    background-color: #5b0017;
    border-color: #CC9D2F;
    transition: background-color 0.4s ease-out, border-color 0.4s ease-out;
}

@media (max-width: 900px) {
    .burgerMenu {
        display: flex;
    }

    .list {
        display: none;
    }

    .showMenu {
        display: flex;
        gap: 20px;
    }

    .navButton {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }

    .buttonText {
        width: 100%;
        max-width: 250px;
    }

    .logoImg {
        width: 80%;
        margin-right: 60px;
    }

    .navLink {
        color: #000000;
    }
}