/* First Section */
.imageContainer {
    display: flex;
    align-items: center;
    justify-content: right;
    position: relative;
}

.Image {
    max-width: 763px;
    max-height: 534px;
    margin: 20px 80px;
}

.headText {
    position: absolute;
    top: 50%;
    left: 2.5%;
    transform: translateY(-50%);
    color: #FFFFFF;
    padding: 20px;

}

.headBackground {
    background-color: rgba(91, 0, 23, 0.7);
    font-size: 120px;
    line-height: 130px;
    text-align: left;
}

.headText span {
    font-family: "Inter", sans-serif;
    display: block;
    font-size: 23px;
    line-height: 27.84px;
    margin-top: 10px;
    font-weight: 300;
}

.headButton {
    margin-top: 50px;
    font-family: 'Cotoris', sans-serif;
    color: #CC9D2F;
    background-color: #5B0017;
    width: 171px;
    height: 63px;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    border: 3px solid #CC9D2F;
    transition: background-color 0.4s ease-in, border-color 0.4s ease-in;
}

.headButton:hover {
    color: #5B0017;
    background-color: #CC9D2F;
    transition: background-color 0.4s ease-out, border-color 0.4s ease-out;
}

.floweIcon {
    position: absolute;
    top: 195px;
    right: 55px;
    z-index: 999;
}

.circleIcon {
    margin: 20px 60px;
}

/* Second Section */
.secSection {
    display: flex;
    margin: 80px 0 0 80px;
}

.subContainer {
    margin-left: 30px;
}

.firstText {
    font-weight: 400;
    font-size: 70px;
    line-height: 87.5px;
    color: #FFFFFF;
}

.secText {
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-size: 23px;
    line-height: 27.84px;
    color: #FFFFFF;
    margin-top: 30px;
}

.buttonVenue {
    margin: 80px 0 60px 0;
    font-family: 'Cotoris', sans-serif;
    color: #5B0017;
    background-color: #CC9D2F;
    width: 169.89px;
    height: 63px;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    border: none;
    position: relative;
}

.buttonVenue::before {
    content: "";
    position: absolute;
    top: 5px;
    left: -5px;
    width: 100%;
    height: 100%;
    border: 2px solid #CC9D2F;
    z-index: -1;
}

.imgesContainer {
    display: flex;
    gap: 30px;
}

.breakLine {
    border: 2px solid #CC9D2F;
    width: 50%;
    margin: 30px 0 0 0;
}

.diamondShape {
    display: flex;
    align-items: end;
}

.circlesShape {
    position: absolute;
    left: 80px;
    top: 1500px;
}

/* Third Section */
.thirdSection {
    display: flex;
    background-color: #CC9D2F;
    margin: 250px 5px 0 5px;
    max-width: 1330.84px;
    max-height: 555.97px;
    justify-content: space-between;
    position: relative;
}

.textDiv {
    padding: 60px;
    position: relative;
}

.platText {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 21px;
    line-height: 39.95px;
    color: #243054;
}

.personDetail {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 80px;
}

.flower {
    position: absolute;
    bottom: 15px;
    left: 0;
}

/* Fourth Section */
.fourthSection {
    display: flex;
    min-height: 871.17px;
    margin-top: 100px;
    background-blend-mode: overlay;
    background-size: cover;
    position: relative;
    background-image: url(../img/BottomImage.png),
        linear-gradient(180deg, rgba(91, 0, 23, 0), rgba(91, 0, 23, 1));
    ;
}

.background_top {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1049.83px;
    height: 69.38px;
    background-repeat: no-repeat;
    left: 0;
    background-image: url('../img/Triangles.png');
    mix-blend-mode: overlay;
}

.background_bottom {
    position: absolute;
    bottom: 0;
    width: 1046.83px;
    height: 69.38px;
    background-repeat: no-repeat;
    right: 0;
    background-image: url('../img/Triangles.png');
    mix-blend-mode: overlay;
}

.center {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    width: 100%;
}

.textBottom {
    font-weight: 400;
    font-size: 70px;
    line-height: 87.5px;
    color: #FFFFFF;
    text-align: center;
    width: 948.79px;
}

.buttonMenue {
    margin: 80px 0 60px 0;
    font-family: 'Cotoris', sans-serif;
    color: #5B0017;
    background-color: #CC9D2F;
    width: 169.89px;
    height: 63px;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    border: none;
    position: relative;
}

.buttonMenue::before {
    content: "";
    position: absolute;
    top: 5px;
    left: -5px;
    width: 100%;
    height: 100%;
    border: 2px solid #CC9D2F;
    z-index: 999;
}

/* تصميم متجاوب للشاشات تحت 900 بكسل */
@media (max-width: 900px) {

    /* First Section */
    .imageContainer {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .Image {
        max-width: 100%;
        height: auto;
        margin: 20px 0;
    }

    .headText {
        position: static;
        text-align: center;
        padding: 20px;
        transform: none;
    }

    .headBackground {
        font-size: 60px;
        line-height: 65px;
    }

    .headText span {
        font-size: 18px;
        line-height: 24px;
    }

    .headButton {
        width: 100%;
        max-width: 250px;
    }

    .floweIcon {
        position: static;
        margin-top: 20px;
    }

    /* Second Section */
    .secSection {
        flex-direction: column;
        margin: 40px 20px;
    }

    .subContainer {
        margin-left: 0;
        text-align: center;
    }

    .firstText {
        font-size: 50px;
        line-height: 60px;
    }

    .secText {
        font-size: 18px;
        line-height: 24px;
    }

    .buttonVenue {
        width: 100%;
        max-width: 250px;
    }

    .imgesContainer {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .breakLine {
        width: 80%;
    }

    .diamondShape {
        justify-content: center;
    }

    .circlesShape {
        position: static;
        margin-top: 20px;
    }

    .imgOne {
        width: 100%;
    }

    /* Third Section */
    .thirdSection {
        display: flex;
        background-color: #CC9D2F;
        margin: 5px 5px 0 5px;
        max-width: 330.84px;
        max-height: 555.97px;
        justify-content: space-between;
        position: relative;
    }

    .textDiv {
        padding: 10px;
        position: relative;
    }

    .platText {
        font-family: "Inter", sans-serif;
        font-weight: 400;
        font-size: 21px;
        line-height: 39.95px;
        color: #243054;
    }

    .personDetail {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 80px;
    }

    .thirdSectionImage {
        display: none;
    }

    .flower {
        display: none;
    }

    /* Fourth Section */
    .fourthSection {
        flex-direction: column;
        min-height: auto;
        padding: 20px;
        margin-top: 50px;
    }

    .background_top,
    .background_bottom {
        display: none;
    }

    .center {
        padding: 0px;
        text-align: center;
    }

    .textBottom {
        font-size: 40px;
        line-height: 65px;
        width: 100%;
    }

    .buttonMenue {
        width: 100%;
        max-width: 250px;
    }

    .third {
        width: 10%;
        margin-bottom: 150px;
    }
}